target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr

## PROJECT ##
src/main/resources/saved.bin

### Mac OS ###
.DS_Store